
#Title
{
	margin: 40px 0px;
	text-align: center;
	font-family: "Arvo", "sans-serif";
}

#All
{
	max-width: 1300px;
	width: 100%;
	height: auto;

	position: relative;
	left: 50%;
	transform: translate(-50%);

	display: grid;
	justify-content: center;

	/*border: solid 1px black;*/
}

#Container_Ronds_Description
{
	/*border: solid 1px red;*/
	position: relative;
	margin: 0px;

	display: grid;
	grid-template-columns: repeat(2, 200px);
	justify-content: center
}

#Description
{
	/*border: solid 1px red;*/
	position: relative;
	margin: 0px;
}

.Img_Ronds_Child
{
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

.Element
{
	font-family: "Arvo", "sans-serif";
	font-size: 0.8em;
}


.rond
{
	width: 56px;
	height: 56px;

	border-radius: 100%/100%;

	background: rgb(34, 34, 34);
	opacity: 0.8;
	transition: 0.3s;
}


.rond:hover
{
	width: 56px;
	height: 56px;

	border-radius: 100%/100%;

	background: #d11110;
	opacity: 0.8;
	transition: 0.3s;
}

.rond_1
{
	position: absolute;
	left: 45px;
	top: 75px;
}

.Description_1, 
.Description_2, 
.Description_3, 
.Description_4, 
.Description_5, 
.Description_6
{
	position: absolute;
	margin-left: 40px;

	opacity: 0;
	transition: 0.9s;
}

.rond_1:hover ~ #Description .Description_1
{
	opacity: 1;
	transition: 0.9s;
	margin-left: 20px;
}


.rond_2
{
	position: absolute;
	left: 156px;
	top: 168px;
}

.rond_2:hover ~ #Description .Description_2
{
	opacity: 1;
	transition: 0.9s;
	margin-left: 20px;
}


.rond_3
{
	position: absolute;
	left: 45px;
	top: 213px;
}

.rond_3:hover ~ #Description .Description_3
{
	opacity: 1;
	transition: 0.9s;
	margin-left: 20px;
}

.rond_4
{
	position: absolute;
	left: 129px;
	top: 235px;
}

.rond_4:hover ~ #Description .Description_4
{
	opacity: 1;
	transition: 0.9s;
	margin-left: 20px;
}

.rond_5
{
	position: absolute;
	left: 77px;
	top: 336px;
}

.rond_5:hover ~ #Description .Description_5
{
	opacity: 1;
	transition: 0.9s;
	margin-left: 20px;
}

.rond_6
{
	position: absolute;
	left: 117px;
	top: 415px;
}

.rond_6:hover ~ #Description .Description_6
{
	opacity: 1;
	transition: 0.9s;
	margin-left: 20px;
}


body
{
	background: rgb(234, 237, 235);
	margin: 0px;
	padding: 0px;
}